<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles.css")
    body
        .box
            .box1
            .box2
                .box2__col1
                .box2__col2
                    .box2__col2__a
                        .box2__col2__a__1
                        .box2__col2__a__2
                    .box2__col2__b